@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button-primary {
  background: transparent;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 12px rgba(0,0,0,0.5);
  @apply flex gap-1 items-center rounded-2xl px-4 py-2 text-sm cursor-pointer hover:scale-105 hover:bg-[#ffffff] hover:text-black transition-all duration-500 ease-in-out;
}

.button-login {
  background: transparent;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 12px rgba(0,0,0,0.5);
  @apply px-3 py-2 text-sm rounded-lg cursor-pointer hover:bg-[#ffffff] hover:text-black transition-all duration-300 ease-in-out;
}

.search-field-wrapper {
  max-width: 800px;
  margin: auto auto;
  background: transparent;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  z-index: 1;
}

.search-field-wrapper.focused {
  border-color: rgba(255, 255, 255, 0.4);
}

.search-input {          
  outline: none;
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.95);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Geist Mono', monospace;
  resize: none;
  overflow: hidden;
}

.search-input::-webkit-scrollbar {
  width: 6px;
}

.search-input::-webkit-scrollbar-track {
  background: transparent;
}

/* Default state - completely transparent */
.search-input::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 30px;
}

/* Only show scrollbar when scrolling */
.search-input.scrolling::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

/* laser trace effect from joshua lin inspiration qtzx06 on github */
.laser-trace {
  position: absolute;
  background: linear-gradient(90deg, transparent 0%, #fff 50%, transparent 100%);
  box-shadow: 0 0 90px #fff, 0 0 40px #fff, 0 0 60px #ffeee2;
  opacity: 0.56;
  pointer-events: none;
  z-index: 0;
  transition: transform 0.5s cubic-bezier(0.2, 1, 0.2, 1.42);
}

.laser-trace.top {
  top: 0;
  left: 0;
  width: 100%;
  height: 0.9px;
  transform-origin: left;
}

.laser-trace.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.9px;
  transform-origin: right;
}

.search-field-wrapper:not(.focused):not(:hover) .laser-trace {
  animation: laser-intro 2.7s cubic-bezier(0.1, 1, 0.1, 1) forwards, laser-idle-move 7s infinite alternate ease-in-out 1.5s;
}

.search-field-wrapper:hover .laser-trace,
.search-field-wrapper.focused .laser-trace {
  transform: scaleX(1);
  animation: none; /* Stop idle animation on hover/focus */
}

@keyframes laser-intro {
  0% { transform: scaleX(0); }
  80% { transform: scaleX(0.692); }
  100% { transform: scaleX(0.69); }
}

@keyframes laser-idle-move {
  from { transform: scaleX(0.69); }
  to { transform: scaleX(0.75); }
}

